---
layout: null
title: Liquid模板测试
---
<!DOCTYPE html>
<html>
<head>
　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default"></script>
　<title>Liquid模板测试</title>
</head>
    <body>
        {{ page.title }}
        <p>{{ user.name }}</p>
        <ul>
            {% for post in site.posts %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
            </ul>
            <BR>
            -------
            <BR>
            {% for tag in site.tags %}
            <h3>{{ tag[0] }}</h3>
            <ul>
                {% for post in tag[1] %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
-------
<ul>
    {% for member in site.data.members %}
    <li>
        <a href="https://github.com/{{ member.github }}">{{ member.name }}</a>
    </li>
    {% endfor %}
    </ul>
<p>$$a^2+b^2=c^2$$</p>
<p>$$\int{\partial\Omega}\omega=\int_\Omega \mathrm{d}\omega$$</p>
    </body>
</html>
