<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">
<head>
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Tang Yibo" />
  <!--<script src="{{ .Site.BaseURL }}/static/script/tikzjax.js"></script>-->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/static/css/style.css" type="text/css" />
  <!--<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default"></script>-->
<script>window.MathJax = {
  tex: {
    inlineMath: [ ['$','$'], ['`','`'], ["\\(","\\)"] ],
    processEscapes: true,
    tags: "ams",
    macros: {
      mbb: '\\mathbb',
      riff: '\\implies',
      liff: '\\impliedby',
      abs: ['\\left\\lvert #1\\right\\rvert', 1],
      rmd: '\\mathop{}\\!\\mathrm{d}',
      vv: '\\overrightarrow',
      sslash: '\\mathrel{/\\mkern-5mu/}',
      px: '\\mathrel{/\\mkern-5mu/}',
      pqd: '\\stackrel{\\smash[b]{/\\!/}}{\\raise-.3ex{=}}',
      veps: '\\varepsilon',
      du: '^\\circ',
      bsb: '\\boldsymbol',
      bm: '\\boldsymbol',
      kongji: '\\varnothing',
      buji: '\\complement',
      S: ['S_{\\triangle #1}', 1],
      led: '\\left\\{\\begin{aligned}',
      endled: '\\end{aligned}\\right.',
      edr: '\\left.\\begin{aligned}',
      endedr: '\\end{aligned}\\right\\}',
      an: '\\{a_n\\}',
      bn: '\\{b_n\\}',
      cn: '\\{c_n\\}',
      xn: '\\{x_n\\}',
      Sn: '\\{S_n\\}',
      inR: '\\in\\mbb R',
      inN: '\\in\\mbb N',
      inZ: '\\in\\mbb Z',
      inC: '\\in\\mbb C',
      inQ: '\\in\\mbb Q',
      Rtt: '\\text{Rt}\\triangle',
      LHS: '\\text{LHS}',
      RHS: '\\text{RHS}',
      arccot: '\\operatorname{arccot}',
      arcsinh: '\\operatorname{arcsinh}',
      arccosh: '\\operatorname{arccosh}',
      arctanh: '\\operatorname{arctanh}',
      arccoth: '\\operatorname{arccoth}',
    },
    autoload: {
      color: [],
      colorv2: ['color']
    },
    packages: {'[+]': ['noerrors','mathtools']}
  },
  options: {
    ignoreHtmlClass: 'blockcode',
    menuOptions: {
      settings: {
        zoom: "DoubleClick"
      }
    },
    processHtmlClass: 'tex2jax_process',
    renderActions: {
      assistiveMml: []
    }
  },
  //chtml: {
  //  scale: 0.9
  //},
  svg: {
    scale: 0.9,
    fontCache: 'global'
  }
};
</script>
<script src="https://cdn.bootcdn.net/ajax/libs/mathjax/3.2.2/es5/tex-svg.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/mathjax/3.2.2/es5/input/tex/extensions/noerrors.js" charset="UTF-8"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/mathjax/3.2.2/es5/input/tex/extensions/mathtools.js" charset="UTF-8"></script>
  <!--<link rel="stylesheet" href="{{ .Site.BaseURL }}/static/css/fonts.css" type="text/css" />-->
  <script data-goatcounter="https://tan9p.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

</head>
<body>
    <div id="container">
    <div id="header" role="banner">
		<span id="title"><ul id="section">
      <li><a href="{{site.url}}/index.html">{{ site.title }}</a></li>
      <div id="right">
      <li><a href="{{site.url}}/Ke">备课</a></li>
      <li><a href="{{site.url}}/Ti">赏题</a></li>
      <li><a href="{{site.url}}/Za">札记</a></li>
    </div>
    </ul></span>
    </div>
    
