{% include header.html %}
<div id="container">
    <div id="header" role="banner">
    <span id="title"><ul id="section">
    <li><a href="{{site.url}}/index.html">{{ site.title }}</a></li>
    <li id="right">
        <ul id="right">
            <li><a href="{{site.url}}/Ke">备课</a></li>
            <li><a href="{{site.url}}/Ti">赏题</a></li>
            <li><a href="{{site.url}}/Za">札记</a></li>
        </ul>
    </li>
</ul></span>
    </div>
<div id="content">{{ content }}</div>
{% include footer.html  %}
</div>
</body>
</html>