{% include header.html %}
<div id="sec_nav">
    <div id="book_list"><li>必修一</li><li>必修二</li><li>选修一</li><li>选修二</li><li>选修三</li></div>
<div id="BX1">
    {% for chapter in site.data.menus.BX1 %}
        <li>
            {{ chapter.name }}
            {% for section in chapter.sections %}
            <li>
            <a href="{{section}}.html">{{section}}</a>
            </li>
            {% endfor %}
        </li>
    {% endfor %}
</div>

<div id="BX2">
    {% for chapter in site.data.menus.BX2 %}
        <li>
            {{ chapter.name }}
            {% for section in chapter.sections %}
            <li>
            <a href="{{section}}.html">{{section}}</a>
            </li>
            {% endfor %}
        </li>
    {% endfor %}
</div>

<div id="XBX1">
    {% for chapter in site.data.menus.XBX1 %}
        <li>
            {{ chapter.name }}
            {% for section in chapter.sections %}
            <li>
            <a href="{{section}}.html">{{section}}</a>
            </li>
            {% endfor %}
        </li>
    {% endfor %}
</div>

<div id="XBX2">
    {% for chapter in site.data.menus.XBX2 %}
        <li>
            {{ chapter.name }}
            {% for section in chapter.sections %}
            <li>
            <a href="{{section}}.html">{{section}}</a>
            </li>
            {% endfor %}
        </li>
    {% endfor %}
</div>

<div id="XBX3">
    {% for chapter in site.data.menus.XBX3 %}
        <li>
            {{ chapter.name }}
            {% for section in chapter.sections %}
            <li>
            <a href="{{section}}.html">{{section}}</a>
            </li>
            {% endfor %}
        </li>
    {% endfor %}
</div>
</div>

<div id="container">
    <div id="header" role="banner">
		<span id="title"><ul id="section">
      <li><a href="{{site.url}}/index.html">{{ site.title }}</a></li>
      <div id="right">
        <li><a href="{{site.url}}/Ke">备课</a></li>
        <li><a href="{{site.url}}/Ti">赏题</a></li>
        <li><a href="{{site.url}}/Za">札记</a></li>
      </div>
    </ul></span>
    </div>
<div id="content">
    <div id="sec">
        {{ content }}
    </div>
</div>
{% include footer.html  %}