{% include header.html %}
<div id="container">
    <div id="header" role="banner">
		<span id="title"><ul id="section">
      <li><a href="{{site.url}}/index.html">{{ site.title }}</a></li>
      <div id="right">
        <li><a href="{{site.url}}/Ke">备课</a></li>
        <li><a href="{{site.url}}/Ti">赏题</a></li>
        <li><a href="{{site.url}}/Za">札记</a></li>
      </div>
    </ul></span>
    </div>
<div id="menu" role="navigation">
    <ul class="nav tree">
      <li>
        <strong>最近文章</strong>
          <ul>
            {% assign posts = site.posts | sort : 'date' | reverse %}
            {% for post in posts limit:5 %}
            <li><a href="{{post.url}}">{{post.title}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li><strong><a href="{{ site.url }}/index.html">所有文章</a></strong></li>
   </ul>
</div>
<div id="content" role="main">
<div id="name">
{{page.title}}
</div>
<div id="content">
    {{ content }}
</div>
</div>
{% include footer.html %}
</body>
</html>